---
import Icon from './Icon.astro';
---

<div class="scroll-indicator absolute bottom-8 left-1/2 -translate-x-1/2 animate-bounce">
  <Icon name="chevrons-down" class="text-text-muted w-6 h-6" />
</div>
