---
---

<div class="relative pl-12 before:content-[''] before:absolute before:left-0 before:top-0 before:bottom-0 before:w-[2px] before:bg-gradient-to-b before:from-accent-cyan before:via-accent-purple before:to-accent-magenta max-md:pl-8 max-md:before:left-0">
  <slot />
</div>
